/* general */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


/* clearfix */

.container:before,
.group:before,
.container:after,
.group:after {
	content: " ";
	display: table;
}

.container:after,
.group:after {
	clear: both;
}

.container,
.group {
	*zoom: 1;
}

body {
	color: #222;
	font-size: 100%;
	margin: 0 auto;
}

img {
	width: 100%;
	max-width: 100%;
	vertical-align: middle;
}

a {
	text-decoration: none;
}

.container_12 {
	max-width: 75em; /* 1200/16 */
	margin: 0 auto;
}

.container_1030 {
	max-width: 64.6875em; /* 1035/16 */
	margin: 0 auto;
}

.container_970 {
	max-width: 60.625em; /* 970/16 */
	margin: 0 auto;
}

.container_770 {
	max-width: 48.125em; /* 770/16 */
	margin: 0 auto;
}

.container_570 {
	max-width: 35.625em; /* 570/16 */
	margin: 0 auto;
}


/*=============================================== Menu Navigacia=================================================*/

.menu {
	width: 100%;
	height: 6.25em; /* 100/16 */
	background: #000000;
	text-align: center;
	list-style: none;
	padding-left: 0;
	margin: 0;
	display: block;
	position: relative;
}

.menu li {
	display: inline-block;
}

.menu a {
	color: #fff;
}

.logo {
	float: left;
	margin-left: 0.625em; /* 10/16 */
	padding-top: 1.15em; /* 35/16 */
	font-size: 1.875em; /* 30/16 */
}

.zoznam {
	padding-top: 1.5625em; /* 25/16 */
	float: left;
	margin-left: 11.25em; /* 180/16 */
}

.zoznam li {
	padding-right: 3.125em; /* 50/16 */
}

.sign {
	float: right;
	margin-right: 0.625em; /* 10/16 */
	padding-top: 2.5em; /* 40/16 */
}

.sign a {
	color: #CA3C3C;
	border: 0.125em solid #CA3C3C; /* 2/16 */
	border-radius: 0.375em; /* 6/16 */
	padding: 0.5em 0.9375em; /* 8/16 */ /* 15/16 */
}


/*=============================================================== Video block ======================================*/

.video {
	width: 100%;
	height: 820px;
	position: relative;
	display: block;
	overflow: hidden;
}

video {
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	z-index: -2;
}

.title {
	position: absolute;
	top: 260px; 
	width: 1092px;
	left: 50%;
	margin-left: -546px;
}

.title h2 {
	font-size: 4.25em; /* 68/16 */
	font-weight: lighter;
	margin-bottom: 0;
	margin-top: 30px;
	color: white;
	display: inline-block;
}

.title p {
	color: #CA3C3C;
	margin-top: 0;
	/*float: left;*/
}

.play {
	float: left;
	position: relative;
	margin-right: 41px; /* 30/16 */
	font-size:3.2em; /* 50/16 */
	color: white;
}

/*=========================================================== Our Service ===================================================*/

.our-services {
	background: #CA3C3C;
	width: 100%;
	height: 360px;
}

.our-services h1 {
	float: left;
	font-size: 60px;
	width: 370px;
	color: white;
	border-bottom: 10px solid white;
}

.feature {
	float: right;
	width: 370px;
	color: white;
	margin-top: 50px;
	height: 100px;
	margin-left: 40px;
	position: relative;
	display: block;
}

.feature1 {
	float: right;
	width: 370px;
	color: white;
	margin-top: 50px;
	height: 100px;
	margin-left: 0;
	position: relative;
	display: block;
}

.fa-cloud,
.fa-gavel {
	border: 2px solid white;
	border-radius: 50%;
	padding: 32px;
	float: left;
	height: 100px;
	width: 100px;
}

.fa-bolt {
	border: 2px solid white;
	border-radius: 50%;
	padding: 32px 41px;
	float: left;
	height: 100px;
	width: 100px;
}

.fa-cutlery {
	border: 2px solid white;
	border-radius: 50%;
	padding: 32px 37px;
	float: left;
	height: 100px;
	width: 100px;
}

.text {
	float: right;
	width: 240px;
	height: 100px;
	font-size: 14px;
	position: relative;
	top: -12px;
}

.text1 {
	width: 215px;
	height: 100px;
	float: right;
	font-size: 14px;
	position: relative;
	left: -24px;
	top: -12px;
}


/*========================================================= Services Icons ============================================*/

.servis-icons {
	background: white;
	width: 100%;
	height: 150px;
	color: #CA3C3C;
}

.awes {
	display: inline-block;
}

.awes i {
	margin-top: 66px;
	margin-left: 170px;
}

.awes :first-child {
	margin: 0;
}


/*======================================================== Our Works =====================================================*/

.our-works {
	background: #ebebeb;
	height: 1325px;
	position: relative;
}

.our-works h1 {
	font-size: 60px;
	width: 370px;
	color: black;
	border-bottom: 10px solid black;
	padding-top: 100px;
	margin-left: 15px;
}

.buttons a {
	border: 2px solid #CA3C3C;
	border-radius: 4px;
	padding: 5px 10px;
	text-align: center;
	color: #CA3C3C;
	display: inline-block;
	position: relative;
}

.buttons {
	margin-bottom: 45px;
	margin-left: 15px;
}

.square {
	width: 370px;
	height: 370px;
	background: #ccc;
	margin: 15px;
	float: left;
	position: relative;
}
.name {
	height: 100px;
	width: 370px;
	background: white;
	position: absolute;
	top: 270px;
}

.name h4 {
	color: #CA3C3C;
	text-align: center;
}

.name p {
	text-align: center;
	color: #ccc;
}

.load-more {
	color: #CA3C3C;
	position: absolute;
	top: 1225px;
}


/*==================================================== Testimonial ==================================================*/

.testimonial {
	width: 100%;
	background: #666666;
	height: 350px;
	/*text-align: center;*/
	color: white;
	position: relative;
	/*overflow: hidden;*/
}

#slider {
	width: 100%;
	height: 350px;
	position: relative;
	overflow: hidden;
}

.slide {
	width: 100%;
	height: 350px;
	position: absolute;
	top: 0;
}

.slide img {
	width: 72px;
	height: 72px;
	margin: 35px 47% 20px 47%;
	border-radius: 50%;
}

.circle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: red;
	display: inline-block;
	z-index: 6;
}

.latina {
	width: 600px;
	font-size: 26px;
	font-weight: 100;
	margin: 0 auto;
	text-align: center;
	padding-top: 60px;
}

#avatar img {
	width: 72px;
	height: 72px;
	border-radius: 50%;
}

#avatar {
	padding-top: 25px;
}


/*=================================================== Our Team ==========================================================*/

.our-team {
	background: white;
	height: 920px;
	position: relative;
}

.our-team h1 {
	font-size: 60px;
	width: 370px;
	color: black;
	border-bottom: 10px solid black;
	padding-top: 100px;
}

.avatar {
	background: #cccccc;
	border-radius: 50%;
	height: 170px;
	width: 170px;
	position: relative;
}

.soc-icon {
	color: white;
	position: relative;
	float: right;
	top: -64%;
	left: -2%;
}

.redc {
	background: #CA3C3C;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	padding-top: 17px;
}

.members {
	position: relative;
	float: left;
	width: 315px;
	height: 170px;
	margin-bottom: 50px;
}

.texta {
	position: relative;
	float: right;
}

.column {
	width: 400px;
	float: left;
}

#load-more {
	top: 800px;
	position: absolute;
	color: #CA3C3C;
}


/*================================================ Number ========================================================*/

.number {
	background: #666666;
	height: 350px;
	color: white;
}

.box {
	position: relative;
	width: 200px;
	display: inline-block;
	margin: 90px 45px 0 45px;
	text-align: center;
}

.numb {
	font-size: 35px;
	font-weight: lighter;
}


/*================================================== Our Skills =========================================================*/

.our-skills {
	background-color: white;
	height: 840px;
}

.our-skills h1 {
	font-size: 60px;
	width: 370px;
	color: black;
	border-bottom: 10px solid black;
	padding-top: 100px;
}

.circles {
	border: 8px solid #CA3C3C;
	border-radius: 50%;
	width: 170px;
	height: 170px;
	display: inline-block;
}
.skills1 {
	width: 770px;
	position: relative;
	float: left;
}

.circle {
	width: 170px;
	margin: 6px 6px 20px;
	display: inline-block;
	position: relative;
	text-align: center;
	line-height: 1.2;
}

.circle strong {
	position: absolute;
	top: 66px;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 40px;
	font-size: 25px;
	color: #CA3C3C;
}
#preview{
	float: left;
	width: 770px;
	padding-left: 100px;
	padding-top: 50px;
}
.skills2 {
	top: -200px;
	position: relative;
	float: right;
	width: 370px;
}

.skills2 h2 {
	color: #CA3C3C;
	border: 1px solid #ebebeb;
	border-radius: 4px;
}

.listing {
	color: #898989;
	border: 1px solid #ebebeb;
	border-radius: 4px;
}

.note {
	font-size: 14px;
	margin-left: 20px;
}

.skills2 span {
	padding: 17px 20px;
	font-size: 14px;
	display: inline-block;
	position: relative;
	top: -3px;
}

.start {
	padding: 15px 0 0 20px;
	font-size: 20px;
}


/*==================================================== Ads ====================================*/

.ads {
	background: #CA3C3C;
	height: 80px;
	width: 100%;
	font-size: 24px;
}

.ads p {
	float: left;
	color: white;
}

#subscribe a {
	font-size: 14px;
	background: white;
	border-radius: 6px;
	color: #CA3C3C;
	padding: 11px;
	float: right;
}

#subscribe {
	padding-top: 21px;
}


/*===================================================== Clients ==================================*/

.clients {
	width: 100%;
	background: #7f7f7f;
	height: 150px;
}

.wordp {
	width: 170px;
	height: 95px;
	background: #a6a6a6;
	display: inline-block;
	padding: 39px 41px;
	margin-top: 28px;
	margin-right: 25px;
	color: white;
}

.clients :nth-child(5) {
	margin-right: 0;
}


/*============================================== Contact ============================================*/

.contact {
	background: #ebebeb;
	height: 710px;
	width: 100%;
}

.contact h1 {
	font-size: 60px;
	width: 370px;
	color: black;
	border-bottom: 10px solid black;
	padding-top: 100px;
	margin-top: 0;
}

.contact p {
	color: #898989;
}

#socicon p {
	color: #CA3C3C;
}

#socicon i {
	margin-right: 15px;
}

input {
	padding: 8px;
	margin: 4px 0 20px 0;
	background: #ebebeb;
	width: 220px;
	font-size: 14px;
	color: #363636;
	border: 1px #ebebeb solid;
}

::-webkit-input-placeholder {
	color: #363636;
}

.namail {
	border: 2px solid #363636;
	width: 370px;
	height: 50px;
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}

.mess {
	border: 2px solid #363636;
	width: 770px;
	height: 80px;
	float: left;
}

.forstart {
	padding-left: 20px;
}

.button_b {
	width: 370px;
	height: 80px;
	color: #CA3C3C;
	background: white;
	border-radius: 6px;
	float: left;
	margin-left: 30px;
	text-align: center;
}

.button_b a {
	color: #CA3C3C;
	top: -5px;
	display: inline-block;
	position: relative;
}

.fa-check-circle-o {
	padding-right: 12px;
	padding-top: 25px;
}


/*========================================================== Footer ===============================*/

footer {
	height: 175px;
	width: 100%;
	background: #252525;
}

footer h2 {
	color: white;
	text-align: center;
	margin-top: 0;
	padding-top: 50px;
}

footer p {
	color: #555;
	text-align: center;
	margin-bottom: 0;
}

.fa-angle-up {
	color: #CA3C3C;
}

footer a {
	display: block;
	text-align: center;
}


/*======================================founation circle skills======================================*/

.circle-graph {
	width: 11.25rem;
	height: 11.25rem;
	border-radius: 50%;
	background-color: #8a8a8a;
	position: relative;
}

.circle-graph.gt-50 {
	background-color: #1779ba;
}

.circle-graph-progress {
	content: "";
	position: absolute;
	border-radius: 50%;
	left: calc(50% - 5.625rem);
	top: calc(50% - 5.625rem);
	width: 11.25rem;
	height: 11.25rem;
	clip: rect(0, 11.25rem, 11.25rem, 5.625rem);
}

.circle-graph-progress .circle-graph-progress-fill {
	content: "";
	position: absolute;
	border-radius: 50%;
	left: calc(50% - 5.625rem);
	top: calc(50% - 5.625rem);
	width: 11.25rem;
	height: 11.25rem;
	clip: rect(0, 5.625rem, 11.25rem, 0);
	background: #1779ba;
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}

.gt-50 .circle-graph-progress {
	clip: rect(0, 5.625rem, 11.25rem, 0);
}

.gt-50 .circle-graph-progress .circle-graph-progress-fill {
	clip: rect(0, 11.25rem, 11.25rem, 5.625rem);
	background: #8a8a8a;
}

.circle-graph-percents {
	content: "";
	position: absolute;
	border-radius: 50%;
	left: calc(50% - 7.75862rem/2);
	top: calc(50% - 7.75862rem/2);
	width: 7.75862rem;
	height: 7.75862rem;
	background: #e6e6e6;
	text-align: center;
	display: table;
	z-index: 4;
}

.circle-graph-percents .circle-graph-percents-number {
	display: block;
	font-size: 1.5rem;
	font-weight: bold;
	color: #1779ba;
}

.circle-graph-percents .circle-graph-percents-units {
	display: block;
	font-size: 1rem;
	font-weight: bold;
}

.circle-graph-percents-wrapper {
	display: table-cell;
	vertical-align: middle;
	line-height: 0;
}

.circle-graph-percents-wrapper span {
	line-height: 1;
}
/*========================================= Media Queries ==================================================*/
@media screen and (max-width: 1470px){
	.video{
		height: auto;
	}
}
@media screen and (max-width: 1125px){
	.title{
		width: 772px;
		margin-left: -386px;
		top: 203px;
	}
	.title h2{
		font-size: 3em;
		margin-top: 15px;
	}
	.play{
		font-size: 2em;
	}
	.zoznam {
    margin-left: 5.25em;
	}
}
@media screen and (max-width: 958px){
	.zoznam {
    margin-left: 3.25em;
	}
}
@media screen and (max-width: 830px){
	.zoznam {
    margin-left: 1.25em;
	}
}
@media screen and (max-width: 800px){
	.title{
		width: 650px;
		margin-left: -325px;
		top: 162px;
	}
	.title h2{
		font-size: 2.5em;
		margin-top: 0;
	}
	.play{
		font-size: 1.5em;
		margin-right: 22px;
	}
	.menu{
		height:100%;
	}
	.menu li {
	display: block;
	}
	.logo {
	float: none;
	margin-left: 0;
	padding-top: .5em;
	font-size: 1.875em; /* 30/16 */
	}
	.zoznam {
	padding-top: 0;
	float: none;
	margin-left: 0;
	}
	.sign {
	float: none;
	margin-bottom: 2em;
	padding-top: 1em;
}
}
@media screen and (max-width: 668px){
	.title{
		width: 516px;
		margin-left: -258px;
		top: 133px;
	}
	.title h2{
		font-size: 2em;
		margin-top: 0;
	}
	.play{
		font-size: 1em;
	}
}
@media screen and (max-width: 525px){
	.title{
		width: 516px;
		margin-left: -195px;
		top: 100px;
	}
	.title h2{
		font-size: 1.5em;
		margin-top: 0;
	}
	.play{
		font-size: 1em;
	}
}